version: '3'
services:
  web:
    restart: always
    build: ./web
    expose:
      - "8000"
    links:
      - postgres:postgres
    env_file: env
    volumes:
      - ./web:/data/web
    command: /usr/bin/gunicorn mydjango.wsgi:application -w 2 -b :8000
  postgres:
    image: "postgres"