version: 2
jobs:
  build:
    working_directory: /app
    docker:
      - image: ${ECR_ENDPOINT}/cloud-platform/circle-workers:reference-app
        # environment variables for all commands executed in the primary container
        environment:
          GITHUB_TEAM_NAME_SLUG: cloud-platform
          APPLICATON_DEPLOY_NAME: demo-app
          APPLICATION_HOST_URL: ${K8S_NAMESPACE}.apps.${K8S_CLUSTER_NAME}
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Run code tests
          command: |
            make codetest
      - run:
          name: Authenticate with cluster
          command: |
            echo -n ${K8S_CLUSTER_CERT} | base64 -d > ./ca.crt
            kubectl config set-cluster ${K8S_CLUSTER_NAME} --certificate-authority=./ca.crt --server=https://api.${K8S_CLUSTER_NAME}
            kubectl config set-credentials circleci --token=${K8S_TOKEN}
            kubectl config set-context ${K8S_CLUSTER_NAME} --cluster=${K8S_CLUSTER_NAME} --user=circleci --namespace=${K8S_NAMESPACE}
            kubectl config use-context ${K8S_CLUSTER_NAME}
            kubectl get pods
            helm --kube-context ${K8S_CLUSTER_NAME} --tiller-namespace ${K8S_NAMESPACE} --service-account circleci init --upgrade --wait
            helm --kube-context ${K8S_CLUSTER_NAME} --tiller-namespace ${K8S_NAMESPACE} ls
      - run:
          name: Build application Docker image
          command: |
            docker build -t app .
      - run:
          name: Run docker tests
          command: |
            docker-compose -f docker-compose.test.yml up --abort-on-container-exit --quiet-pull --no-color --exit-code-from=app
      - deploy:
          name: Push application Docker image
          command: |
            login="$(aws ecr get-login --no-include-email)"
            ${login}

            docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}"
            docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}"

            if [ "${CIRCLE_BRANCH}" == "cert-manager" ]; then
              docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:latest"
              docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:latest"
            fi
      - deploy:
          name: Helm deployment
          command: |
            if [ "${CIRCLE_BRANCH}" == "cert-manager" ]; then
              helm --kube-context ${K8S_CLUSTER_NAME} --tiller-namespace=${K8S_NAMESPACE} delete --purge ${APPLICATON_DEPLOY_NAME} || true
              helm install --name ${APPLICATON_DEPLOY_NAME} ./helm_deploy/django-app/. \
                            --kube-context ${K8S_CLUSTER_NAME} \
                            --tiller-namespace=${K8S_NAMESPACE} \
                            --namespace=${K8S_NAMESPACE} \
                            --set image.repository="${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}" \
                            --set image.tag="latest" \
                            --set deploy.host="${APPLICATION_HOST_URL}" \
                            --set tls.hosts="${APPLICATION_HOST_URL}" \
                            --set replicaCount="1" \
                            --debug \
                            --wait
            fi
            kubectl get pods
